{% extends "base.html.twig" %}
{% block title %} Książka adresowa {% endblock %}
{%  block body %}

    {% include "addressnavbar.html.twig" %}
    {% include "flash.html.twig" %}
    <center>
        <div class="btn-group" role="group" aria-label="Basic example">
            <form action="{{ path('list') }}">
                <button type="sumbit" class="btn btn-outline-info">Lista użytkowników</button>
            </form>
        </div>
    </center><br />

    <center>
        <table class="table table-bordered shadow-sm p-3 mb-5 bg-white rounded" id="list">
            <thead>
                <tr>
                    <th scope="col">Nr</th>
                    <th scope="col">Mieszkaniec</th>
                    <th scope="col">Ulica</th>
                    <th scope="col">Kod pocztowy</th>
                    <th scope="col">Miasto</th>
                    <th scope="col">Kraj</th>
                    <th scope="col">
                        <center>Edytuj</center>
                    </th>
                    <th scope="col">
                        <center>Usuń</center>
                    </th>
                    <th scope="col">
                        <center>Przypisz mieszkańca</center>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for address in address %}
                    <tr>
                        <th scope="col">
                            {{ address.id }}
                        </th>
                        <td>
                            {{ address.user.name }} {{ address.user.surname }}
                        </td>
                        <td>
                            {{ address.street }}
                        </td>
                        <td>
                            {{ address.postnumber }}
                        </td>
                        <td>
                            {{ address.city }}
                        </td>
                        <td>
                            {{ address.country }}
                        </td>
                        <td>
                            <center>
                                <a href='{{ path('edit_address', {id: address.id}) }}' class="btn btn-outline-info btn-sm"
                                       role="button" aria-disabled="true">Edytuj</a>
                            </center>
                        </td>
                        <td>
                            <center>
                                <a href='{{ path('delete_address', {id: address.id}) }}' class="btn btn-outline-info btn-sm"
                                       role="button" aria-disabled="true">Usuń</a>
                            </center>
                        </td>
                        <td>
                            <center>
                                <a href='{{ path('assign_user', {id: address.id}) }}' class="btn btn-outline-info btn-sm"
                                       role="button" aria-disabled="true">Przypisz</a>
                            </center>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </center>

{% endblock %}