{% extends "base.html.twig" %}
{% block title %} Przypisz mieszkanca {% endblock %}
{% block body %}

    {% include "addressnavbar.html.twig" %}
    {% include "flash.html.twig" %}
    <center>
        <form action="{{ path('assign') }}" method="post">
            <div class="card shadow-sm p-3 mb-5 bg-white rounded" style="width: 25rem;">
                <div class="card-body">
                    <h3 class="card-title">Przypisz mieszkańca</h3>

                    <div class="form-row">
                        <div class="col" style="margin: 15px 15px 0px 15px;">
                            <select name="user_id" class="form-control">
                                <option>Wybierz mieszkańca...</option>
                                {% for user in records %}
                                    <option value="{{ user.id }}">
                                        {{ user.name }} {{ user.surname }}
                                    </option>
                                {% endfor %}
                                <input type="hidden" name="address_id" value="{{ address_id }}">
                            </select>
                        </div>
                    </div><br />

                    <center>
                        <input class="btn btn-outline-info" type='submit' value='Przypisz'>
                    </center>
                </div><br />
            </div>
        </form>
    </center>

{% endblock %}