{% extends "base.html.twig" %}
{% block title %} Edycja {% endblock %}
{% block body %}

    {% include "usernavbar.html.twig" %}
    {% include "flash.html.twig" %}
    <center>
        <div class="card shadow-sm p-3 mb-5 bg-white rounded" style="width: 40rem;">
            <form action="{{ path('update_user') }}" method="post">
                <br /><h3 class="card-title">Edytuj użytkownika {{ user.name }} {{ user.surname }}</h3><br />
                <input type='hidden' name='id' value='{{ user.id }}'>
                <div class="form-row">
                    <div class="col" style="margin: 15px 15px 0px 15px;">
                        <input type='text' class="form-control" name='name' maxlength=30 value="{{ user.name }}" />
                    </div>
                    <div class="col" style="margin: 15px 15px 0px 0px;">
                        <input type='text' class="form-control" name='surname' maxlength=50 value="{{ user.surname }}" />
                    </div>
                </div><br />
                <div class="form-row">
                    <div class="col" style="margin: 15px 15px 0px 15px;">
                        <input type='text' class="form-control" name='mail' value="{{ user.mail }}" />
                    </div>
                    <div class="col" style="margin: 15px 15px 0px 0px;">
                        <input type='tel' class="form-control" name='pnumber' value="{{ user.pnumber }}" />
                    </div>
                </div><br />
                <center>
                    <input class="btn btn-outline-info" type='submit' value='Edytuj'>
                </center><br />
            </form>
        </div>
    </center>

{% endblock %}