{% extends "base.html.twig" %}
{% block title %} Lista użytkowników {% endblock %}
{% block body %}


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand disabled" href="{{ path('homepage') }}">Projekt</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('list') }}">Lista użytkowników</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('add_user') }}">Dodaj użytkownika</a>
                </li>
            </ul>
                <ul class="navbar-nav mr-3">
                    <li>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModalLong">
                            Wyszukiwanie zaawansowane
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Wyszukiwanie zaawansowane</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="{{ path('asearch_user_result') }}" method="post">
                                            <input type='text' class="form-control" name='name' maxlength=30 placeholder="Szukane imię..."/><br />
                                            <input type='text' class="form-control" name='surname' maxlength=50 placeholder="Szukane nazwisko..."/><br />
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-outline-info" data-dismiss="modal">Wróć</button>
                                                <button type="sumbit" class="btn btn-info">Szukaj</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            <form class="form-inline my-2 my-lg-0" action="{{ path('search') }}">
                <input class="form-control mr-sm-2" type="search" placeholder="Szukaj" aria-label="Search" name="search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Szukaj</button>
            </form>
        </div>
    </nav><br />
    {% include "flash.html.twig" %}

    <center>
        <div class="btn-group" role="group" aria-label="Basic example">
            <form action="{{ path('address_list') }}">
                <button type="sumbit" class="btn btn-outline-info">Książka adresowa</button>
            </form>
        </div>
    </center>
    <br />
    <center><table class="table table-bordered shadow-sm p-3 mb-5 bg-white rounded" id="list">
            <thead>
                <tr>
                    <th scope="col">Nr</th>
                    <th scope="col">Imię</th>
                    <th scope="col">Nazwisko</th>
                    <th scope="col">Mail</th>
                    <th scope="col">Telefon</th>
                    <th scope="col"><center>Edytuj</center></th>
                    <th scope="col"><center>Usuń</center></th>
                    <th scope="col"><center>Pokaż</center></th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <th scope="col">{{ user.id }}</th>
                        <td>{{ user.name }}</td>
                        <td>{{ user.surname }}</td>
                        <td>{{ user.mail }}</td>
                        <td>{{ user.pnumber }}</td>
                        <td><center><a href='{{ path('edit_user', {id: user.id}) }}' class="btn btn-outline-info btn-sm"
                                       role="button" aria-disabled="true">Edytuj</a></center></td>
                        <td><center><a href='{{ path('delete_user', {id: user.id}) }}' class="btn btn-outline-info btn-sm"
                                       role="button" aria-disabled="true">Usuń</a></center></td>
                        <td><center><a href="{{ path('show_user', {id: user.id}) }}" class="btn btn-outline-info btn-sm"
                                       role="button" aria-disabled="true">{{ user.name }} {{ user.surname }}</a></center></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table></center>
{% endblock %}