{% extends "base.html.twig" %}
{% block title %} Lista użytkowników {% endblock %}
{% block body %}

    {% include "usernavbar.html.twig" %}
    {% include "flash.html.twig" %}

    <center>
        <div class="btn-group" role="group" aria-label="Basic example">
            <form action="{{ path('address_list') }}">
                <button type="sumbit" class="btn btn-outline-info">Książka adresowa</button>
            </form>
        </div>
    </center><br />
    <center>
        <table class="table table-bordered shadow-sm p-3 mb-5 bg-white rounded" id="list">
            <thead>
                <tr>
                    <th scope="col">Nr</th>
                    <th scope="col">Imię</th>
                    <th scope="col">Nazwisko</th>
                    <th scope="col">Mail</th>
                    <th scope="col">Telefon</th>
                    <th scope="col"><center>Edytuj</center></th>
                    <th scope="col"><center>Usuń</center></th>
                    <th scope="col"><center>Pokaż</center></th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <th scope="col">{{ user.id }}</th>
                        <td>{{ user.name }}</td>
                        <td>{{ user.surname }}</td>
                        <td>{{ user.mail }}</td>
                        <td>{{ user.pnumber }}</td>
                        <td><center>
                                <a href='{{ path('edit_user', {id: user.id}) }}' class="btn btn-outline-info btn-sm"
                                       role="button" aria-disabled="true">Edytuj</a>
                            </center>
                        </td>
                        <td><center>
                                <a href='{{ path('delete_user', {id: user.id}) }}' class="btn btn-outline-info btn-sm"
                                       role="button" aria-disabled="true">Usuń</a>
                            </center>
                        </td>
                        <td><center>
                                <a href="{{ path('show_user', {id: user.id}) }}" class="btn btn-outline-info btn-sm"
                                       role="button" aria-disabled="true">{{ user.name }} {{ user.surname }}</a>
                            </center>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </center>

{% endblock %}