{% extends "base.html.twig" %}
{% block title %} {{ user.name }} {{ user.surname }}{%  endblock %}
{% block body %}

    {% include "usernavbar.html.twig" %}
    {% include "flash.html.twig" %}
    <center>
        <div class="card shadow-sm p-3 mb-5 bg-white rounded" style="width: 25rem;">
            <div class="card-body">
                <h3 class="card-title">{{ user.name }} {{ user.surname }}</h3>
                <p class="card-text">Adres e-mail: {{ user.mail }}<br />Numer telefonu: {{ user.pnumber }}</p>
                <div class="btn-group" role="group" aria-label="Third group">
                    <a href="{{ path('edit_user', {id: user.id}) }}" class="btn btn-outline-info">Edytuj</a>
                    <a href="{{ path('delete_user', {id: user.id}) }}" class="btn btn-outline-info">Usuń</a>
                </div>
            </div>
        </div>
    </center>

{% endblock %}